
/* ESTILO GERAL*/
*{
   margin: 0%; 
   padding: 0%;
   box-sizing: border-box;
}

body{
    background-color: #000000;
    height: 100vh;
}

.limite{
    max-width: 1280px;
    margin: 0 auto;
}

.flexivel{
    display: flex;
}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/*ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}

header > .limite{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1,01);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.contato button:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1,01);

}

/* ESTILO DO TOPO DO SITE*/
section.corpo_do_site{
    padding: 40px 4%;
}

section.corpo_do_site .flexivel{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.corpo_do_site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
}

.corpo_do_site .texto_site h1 span{
    color: #00FF08;
}

.corpo_do_site .texto_site p{
    color:  #ffffff;
    margin: 40px 0;
    font-size: 160%;
}

.corpo_do_site .imagen_futuante img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.corpo_do_site .git{
    padding: 40px 4%;
}

.git img{
    width: 50px;
    cursor: pointer;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DO FORMULÁRIO DE CONTATO */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #525252;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}    

form input::placeholder{
    color: #00FF08;
}

form textarea{
    resize: none;
    max-height: 150px;
}

form textarea::placeholder{
    color: #00FF08                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ;
}

form .enviar{
    margin-top: 25px;
    text-align: center;
}

form .enviar input{
    width: 120px;
    background-color: #00FF08;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
}